.todo-input {
  margin: 3px;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  display: flex;
  padding: 1rem;
  input {
    // new input style
    flex: 1;
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #7f8c8d;
    &:focus {
      border-bottom: 1px solid #f1c40f;
    }
  }
  .add-button {
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    border: 1px solid #2ecc71;
    border-radius: 10px;
    color: #2ecc71;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    // 내용을 가운데에 정렬시킵니다.
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #2ecc71;
      color: white;
    }
    &:active {
      background: #27ae60;
    }
  }
}
